.row
  .col-lg-6
    .well
      = form_for @catering do |f|
        - if @catering.errors.any?
          .panel.panel-primary
            .panel-heading
              %h3.panel-title
                Please fix: #{pluralize(@catering.errors.count, "error")}
            .panel-body
              %ul
                - @catering.errors.full_messages.each do |msg|
                  %li
                    = msg
        %fieldset
        .form-group
          = f.text_field :title, class: 'form-control', :placeholder => :title.capitalize
        .form-group
          = f.text_field :adress, class: 'form-control', :placeholder => :adress.capitalize
        .form-group
          = f.telephone_field :phone, class: 'form-control', :placeholder => :phone.capitalize
        .form-group
          = f.email_field :email, class: 'form-control', :placeholder => :email.capitalize
        .form-group
          = f.text_area :work_time, class: 'form-control', :placeholder => :work_time.capitalize
        .form-group
          = f.text_field :minimum_order, class: 'form-control', :placeholder => :minimum_order.capitalize
        .form-group
          = f.text_field :delivery_price, class: 'form-control', :placeholder => :delivery_price.capitalize
        .form-group
          = f.text_area :description, class: 'form-control', :placeholder => :description.capitalize
        .form-group
          = link_to "Cancel", caterings_path, class: 'btn btn-default'
          = f.submit 'Submit', :class => 'btn btn-success'