<h1>Catering "<%= @catering.title %>"</h1>

<p><strong>Adress:</strong>
<%= @catering.adress %>
</p>

<p><strong>Phone:</strong>
<%= @catering.phone %>
</p>

<p><strong>Email:</strong>
<%= @catering.email %>
</p>

<p><strong>Work time:</strong>
<%= @catering.work_time %>
</p>

<p><strong>Minimum order:</strong>
<%= @catering.minimum_order %>
</p>

<p><strong>Delivery price:</strong>
<%= @catering.delivery_price %>
</p>

<p><strong>Offices:</strong>
<% @catering.offices.each do |f| %>
	<%= link_to f.title, office_path(f.id), class: 'btn btn-primary btn-xs' %>
<% end %>
</p>

<p><strong>Desription:</strong>
<%= @catering.description %>
</p>

<%= link_to 'List all caterings', caterings_path, class: 'btn btn-info' %>
<%= link_to 'Edit', edit_catering_path(@catering), class: 'btn btn-danger' %>