<h1>This is catering</h1>

<p><strong>Title:</strong>
<%= @catering.title %>
</p>

<p><strong>Adress:</strong>
<%= @catering.adress %>
</p>

<p><strong>Phone:</strong>
<%= @catering.phone %>
</p>

<p><strong>Work time:</strong>
<%= @catering.work_time %>
</p>

<p><strong>Minimum order:</strong>
<%= @catering.minimum_order %>
</p>

<p><strong>Delivery price:</strong>
<%= @catering.delivery_price %>
</p>

<p><strong>Desription:</strong>
<%= @catering.description %>
</p>

