<h1>Office</h1>

<p><strong>Title:</strong>
<%= @office.title %>
</p>

<p><strong>Adress:</strong>
<%= @office.adress %>
</p>

<p><strong>Phone:</strong>
<%= @office.phone %>
</p>

<p><strong>Email:</strong>
<%= @office.email %>
</p>

<p><strong>Desription:</strong>
<%= @office.description %>
</p>

<%= link_to 'List all offices', offices_path, class: 'btn btn-info' %>
<%= link_to 'Edit', edit_office_path(@office), class: 'btn btn-danger' %>
