<h1>Office "<%= @office.title %>"</h1>

<p><strong>Adress:</strong>
<%= @office.adress %>
</p>

<p><strong>Phone:</strong>
<%= @office.phone %>
</p>

<p><strong>Email:</strong>
<%= @office.email %>
</p>

<p><strong>Desription:</strong>
<%= @office.description %>
</p>

<p><strong>Catering:</strong>
<%= link_to @office.catering.title, catering_path(@office.catering) %>
</p>

<%= link_to 'List all offices', offices_path, class: 'btn btn-info' %>
<%= link_to 'Edit', edit_office_path(@office), class: 'btn btn-danger' %>
