%h1 Contact us
.row
	.col-lg-6
		.well
			= form_for @contact do |f|
				%fieldset
				.form-group
					= f.text_field :name, class: 'form-control', :placeholder => :title.capitalize
				.form-group
					= f.email_field :email, class: 'form-control', :placeholder => :email.capitalize
				.form-group
					= f.text_area :message, class: 'form-control', :placeholder => :message.capitalize
					= f.hidden_field(:nickname)
				.form-group
					= f.submit 'Submit', :class => 'btn btn-success'