.container
  %h1 Contact
  For hot support, please call:
  %b+380506372407
  %br
  %br
  %p Please fill out the information below in order to receive a business application

  = form_for @contact do |f|

    %p
    = f.label :name
    = f.text_field :name, class: 'form-control input-sm'
    %p
    = f.label :email
    = f.email_field :email, class: 'form-control input-sm'
    %p
    = f.label :message
    = f.text_area :message, class: 'form-control'
    %p= f.hidden_field(:nickname)
    = f.button :submit, :class => 'btn btn-success'