%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav= render 'layouts/navigation_links'
/ Fixed navbar
.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Food4u', root_path, class: "navbar-brand"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav= render 'layouts/navigation_links'
      %ul.nav.navbar-nav.navbar-right= render 'layouts/navigation_links_right'
    /
      \/.nav-coll
      apse